extends ../layout
block content
  div( ng-controller="ajustesPrevios", ng-init="cargar()" )
    h1 Balance de comprobacion, ajustes previos al cierre
    .row
      .col-md-8
        h4.titulo2 Balance de comprobacion
        h4 Periodo: {{periodo.fecha_inicio | date : 'yyyy-MM-dd'}} - {{periodo.fecha_fin | date : 'yyyy-MM-dd'}}
        table.table.table-hover.table-bordered.table-striped.enc-tablas
          thead
            tr
              th( colspan ="2") Cuenta
              th( colspan ="2") Movimientos
              th( colspan ="2") Saldos Finales
            tr
              th codigo
              th cuenta
              th Debe
              th Haber
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasBalance | orderBy: ['codigo']")
                td( ng-bind="tra.codigo" )
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.movimiemtos.Debe | currency" )
                td( ng-bind="tra.movimiemtos.Haber | currency")
                td( ng-bind="tra.final.Debe | currency" )
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="2" ) ----  SUB TOTAL ----
                td( ng-bind="Total.movimiemtos.Debe | currency" )
                td( ng-bind="Total.movimiemtos.Haber | currency" )
                td( ng-bind="Total.final.Debe | currency" )
                td( ng-bind="Total.final.Haber | currency" )
              tr
                td( colspan="8") Asientos de ajuste
              tr(ng-repeat="tra in ajustesBalance")
                td( ng-bind="tra.codigo" )
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.movimiemtos.Debe | currency" )
                td( ng-bind="tra.movimiemtos.Haber | currency")
                td( ng-bind="tra.final.Debe | currency" )
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="2" ) ----  SUB TOTAL ----
                td( ng-bind="TotalAjustes.movimiemtos.Debe | currency" )
                td( ng-bind="TotalAjustes.movimiemtos.Haber | currency" )
                td( ng-bind="TotalAjustes.final.Debe | currency" )
                td( ng-bind="TotalAjustes.final.Haber | currency" )
              tr
                td( colspan="2" ) ----  TOTAL  ----
                td( ng-bind="TotalFinal.movimiemtos.Debe | currency" )
                td( ng-bind="TotalFinal.movimiemtos.Haber | currency" )
                td( ng-bind="TotalFinal.final.Debe | currency" )
                td( ng-bind="TotalFinal.final.Haber | currency" )
        a.btn.btn-danger( href="", ng-click="confirmacion()", ng-if="periodoCerrado" ) finalizar ajustes
        a.btn.btn-primary( data-toggle="modal", href="#modal-showAjustes", ng-if="periodoCerrado" ) ver ajustes    
      .col-md-4
        div(ng-if="!periodoCerrado")
          h4 iniciar cierre de periodo
          a.btn.btn-info( ng-click ="cerrarPeriodos()") iniciar cierre
        hr
        h4 Agregar asiento de ajuste 
          a.btn.btn-success.btn-md( data-toggle="collapse" href="#collapseAjuste" aria-expanded="false" aria-controls="collapseAjuste" ): span.glyphicon.glyphicon-plus
        hr
        .collapse#collapseAjuste
          .btn-group( role="group" )
            a.btn.btn-success( data-toggle="modal", href="#modal-add", ng-click ="obtenerCuentas()") añadir cuenta 
              span.glyphicon.glyphicon-plus
            a.btn.btn-primary( data-toggle="modal", href="#modal-addAndCreate", ng-click ="obtenerCuentas()" ) crear cuenta  
              span.glyphicon.glyphicon-plus-sign
          br
          br
          .form-group
            label.enc-tablas( for="detalle" ) Detalle
            input.form-control( name='detalle', ng-model='detalle', type='text', placeholder='Ingrese el detalle' required)
          table.table.table-hover.table-bordered.table-striped.enc-tablas.table-responsive
            thead
              tr
                th cuenta
                th Debe
                th Haber
                th: span.glyphicon.glyphicon-wrench
                th: span.glyphicon.glyphicon-trash
            tbody
              tr( ng-repeat="aj in cuentasAjuste" )
                td {{aj.nombre}}
                td {{aj.desc_cuenta.saldoDebe}}
                td {{aj.desc_cuenta.saldoHaber}}
                td
                  a( ng-click="mods()" data-toggle="modal", href="#modal-modificar"): span.glyphicon.glyphicon-wrench
                td
                  a( ng-click="remover(aj)" href=""): span.glyphicon.glyphicon-trash
              tr
                td Total
                td {{total.totalD}}
                td {{total.totalH}}
                td( colspan="2" ) ------
          a.btn.btn-danger( ng-click="mostrar()", ng-if="cuentasAjuste.length > 1 && total.totalD == total.totalH && total.totalH != 0", data-toggle="modal", href="#modal-verificar") registrar Asiento  
      .modal.fade#modal-add
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title.titulo Registro de Asiento
              .modal-body
                form()
                  .form-group
                    label seleccione una cuenta
                    select.form-control( ng-model="idd" )
                      option( ng-repeat="it in cuentas" value="{{it._id}}" ng-if="it.estado == true") {{it.codigo}} - {{it.nombre}}
                  .row
                    .form-group
                      .col-md-6
                        label Haber
                        input.form-control( type="number", ng-model="HaberC" )
                      .col-md-6
                        label Debe
                        input.form-control( type="number", ng-model="DebeC" )
                hr
                button.btn.btn-default( ng-click="addAsiento(1)" ) Agregar cuenta
      .modal.fade#modal-addAndCreate(role="dialog")
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title.titulo registrar cuenta
              .modal-body
                form()
                  .row
                    .col-md-6
                      .form-group
                        label Nombre
                        input.form-control( type="text", ng-model="nombreC", placeholder="Indique el nombre" )
                    .col-md-6
                      .form-group
                        label tipo
                        select.form-control( ng-model="tipoC" )
                          option(ng-repeat="tip in tipos" value="{{tip.nombre}}") {{tip.nombre}}
                    .col-md-6
                      .form-group
                        label cuenta padre
                        select.form-control( ng-model="padreC")
                          option(ng-repeat="it in cuentas" value="{{it.nombre}}" ) {{it.codigo}} - {{it.nombre}}
                    .col-md-6
                      .form-group
                        label codigo
                        input.form-control( type="text", ng-model="codigoC", placeholder="indique el codigo" )
                    .col-md-12
                      .form-group
                        label descripcion
                        input.form-control( type="text", rows='3', ng-model="descripcionC", placeholder="inidique la descripcion")
                    .col-md-12: hr
                    .col-md-6
                      .form-group
                        label Debe
                        input.form-control( type="number", ng-model="DebeC") 
                    .col-md-6  
                      .form-group
                        label Haber
                        input.form-control( type="number", ng-model="HaberC")
                    .col-md-12
                      a.btn.btn-danger.btn-lg( ng-click="addAsiento(2)" ) Agregar cuenta
      .modal.fade#modal-verificar(role="dialog")                  
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title Verificar asiento
              .modal-body
                .row
                  .col-md-7
                    h4 Detalle de asiento:
                  .col-md-5
                    h4 {{detalle}}
                  .col-md-12
                    h4 Cuentas Utilizadas:
                    table.table.table-hover.table-bordered.table-striped.table-striped.enc-tablas
                      thead
                        tr
                          th Cuenta
                          th Debe
                          th Haber
                      tbody
                        tr( ng-repeat="sel in cuentasAjuste" ng-if="sel.desc_cuenta.saldoDebe || sel.desc_cuenta.saldoHaber")
                          td {{sel.nombre}}
                          td {{sel.desc_cuenta.saldoDebe}}
                          td {{sel.desc_cuenta.saldoHaber}}
                        tr
                          td 
                            h4 Total
                          td {{total.totalD}}
                          td {{total.totalH}}
                  .col-md-12
                    a.btn.btn-success( ng-click="resgistrarAsiento()") Registro de Transacción            
      .modal.fade#modal-modificar
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title Modificar saldos
              .row
                form()
                  .col-md-6
                    label Debe
                    .input-group
                      span( class="input-group-addon") $
                      input.form-control( type="number", aria-label="Amount (to the nearest dollar)", ng-model="Debe", min="0", ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/") 
                  .col-md-6
                    label Haber
                    .input-group
                      span( class="input-group-addon") $
                      input.form-control( type="number", aria-label="Amount (to the nearest dollar)" ng-model="Haber", min="0", ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/") 
                  
                  .col-md-12
                    hr
                    button.btn.btn-success( ng-click="registrarMonto()") Registrar cambio
      .modal.fade#modal-showAjustes
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title Ajustes en el periodo
              table.table.table-hover.table-bordered.table-striped.enc-tablas.table-responsive
                thead
                  tr
                    th cuenta
                    th detalle
                    th Debe
                    th Haber
                tbody
                  tr( ng-repeat="aj in transAjuste" )
                    td {{aj.codigo}} - {{aj.nombre}}
                    td {{aj.detalle}}
                    td {{aj.movimiemtos.Debe}}
                    td {{aj.movimiemtos.Haber}}
              button.btn.btn-warning( data-dismiss="modal", aria-hidden="true" ) Cerrar
