extends ../layout
block content
  .div( ng-controller="inventario", ng-init="cargar()" )
    h1 Inventario
    .row
      .col-md-8
        h4 Inventario de productos:
        table.table.table-hover.table-striped
          thead
            tr
              th Articulo - codigo
              th Descripcion
              th precio de costo
              th precio de venta
              th existencia
              th total
          tbody
            tr( ng-repeat="art in articulos ")
              th {{art.nombre}} - {{art.codigo}}
              th {{art.descripcion}}
              th {{art.precioCosto | currency}}
              th {{art.precioVenta | currency}}
              th {{art.existencia}}
              th {{art.existencia*art.precioCosto | currency}}
            tr
              th( colspan="5") Total
              th {{ total | currency }}
        a.btn.btn-default( ng-click="registrar()") Registrar inventario
      .col-md-4
        h3 Gestion de inventario
        .panel-group#accordion( role="tablist" aria-multiselectable="true" )
          .panel.panel-default
            .panel-heading( role="tab" id="headingOne")
              h4.panel-title
                a( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ) Añadir proveedor
            .panel-collapse.collapse#collapseOne( role="tabpanel" aria-labelledby="headingOne" )
                .panel-body
                  form
                    .form-group
                      label Nombre
                      input.form-control( type="text", ng-model="proNombre")
                    .form-group
                      label telefono
                      input.form-control( type="text", ng-model="proDescripcion")
                    .form-group
                      label contacto
                      input.form-control( type="text", ng-model="proContacto")
                  .btn-group
                    a.btn.btn-success( ng-click="addProveedor()" ) agregar
                    a.btn.btn-danger( ng-click="limpiar()" ) limpiar
          .panel.panel-default
            .panel-heading( role="tab" id="headingTwo")
              h4.panel-title
                a.collapsed( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" ) Añadir articulo
            .panel-collapse.collapse#collapseTwo( role="tabpanel" aria-labelledby="headingTwo" )
                .panel-body
                  form
                    .form-group
                      label Nombre
                      input.form-control( type="text", ng-model="artNombre")
                    .form-group
                      label codigo
                      input.form-control( type="text", ng-model="artCodigo")
                    .form-group
                      label descripcion
                      input.form-control( type="text", ng-model="artDescripcion")
                    .form-group
                      label proveedor
                      select#proveedor.form-control( name="proveedor", ng-model="artProveedor", required)
                        option( ng-repeat="pro in proveedores" value="{{pro._id}}") {{pro.nombre}}
                    .form-group
                      label costo unitario
                      input.form-control( type="number", ng-model="artCosto")
                    .form-group
                      label precio venta
                      input.form-control( type="number", ng-model="artVenta")
                    .form-group
                      label existencia
                      input.form-control( type="number", ng-model="artExistencia")    
                    .btn-group
                      a.btn.btn-success( ng-click="addArticulo()" ) agregar
                      a.btn.btn-danger( ng-click="limpiar()" ) limpiar      
          .panel.panel-default
            .panel-heading( role="tab" id="headingThree")
              h4.panel-title
                a.collapsed( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" ) Registrar Adquisicion
            .panel-collapse.collapse#collapseThree( role="tabpanel" aria-labelledby="headingThree" )
                .panel-body
                  form
                    .form-group
                      label Articulo
                      select.form-control( ng-model="adNombre")
                        option( ng-repeat="art in articulos", value="{{art._id}}") {{art.nombre}}
                    .form-group
                      label costo unitario
                      input.form-control( type="number", ng-model="adCosto")
                    .form-group
                      label cantidad
                      input.form-control( type="number", ng-model="adCantidad")
                    .btn-group
                      a.btn.btn-success( ng-click="regMovimiento(1)" ) agregar
                      a.btn.btn-danger( ng-click="limpiar()" ) limpiar
          .panel.panel-default
            .panel-heading( role="tab" id="headingFour")
              h4.panel-title
                a.collapsed( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" ) Registrar Requisicion
            .panel-collapse.collapse#collapseFour( role="tabpanel" aria-labelledby="headingFour" )
                .panel-body
                  form
                    .form-group
                      label Articulo
                      select.form-control( ng-model="adNombre")
                        option( ng-repeat="art in articulos" value="{{art._id}}") {{art.nombre}}
                    .form-group
                      label cantidad
                      input.form-control( type="number", ng-model="reqExistencia")
                    .btn-group
                      a.btn.btn-success( ng-click="regMovimiento(2)" ) agregar
                      a.btn.btn-danger( ng-click="limpiar()" ) limpiar
