extends ../layout
block content
  .div( ng-controller="planilla", ng-init="cargar()" )
    h1 planillas
    ul.nav.nav-tabs( role="tablist" )
      li.active( role="presentation")
        a( href="#planilla" aria-controls="planilla" role="tab" data-toggle="tab") Planilla
      li( role="presentation")
        a( href="#registro" aria-controls="registro" role="tab" data-toggle="tab") Registrar Empleado
      li( role="presentation")
        a( href="#modificar" aria-controls="modificar" role="tab" data-toggle="tab") Modificar Empleado
      li( role="presentation")
        a( href="#ajustesp" aria-controls="ajustesp" role="tab" data-toggle="tab") Settings
    .tab-content
      .tab-pane.fade.active.in#planilla( role="tabpanel" ) 
        h4 Tabla de planillas
        table.table.table.table-bordered
          thead
            th Nombre
            th codigo
            th Puesto
            th horas trabajadas
            th Salario
            th ISSS
            th AFP
            th Vacacion
            th Aguinaldo
            th Insaforp
            th Otras Prestaciones
            th Salario Real
          tbody
            tr( ng-repeat='emp in planilla' )
              th( ng-bind="emp.nombre")
              th( ng-bind="emp.codigo")
              th( ng-bind="emp.puesto")
              th( ng-bind="emp.horas")
              th {{emp.salario | currency}}
              th {{emp.ISSS | currency}}
              th {{emp.AFP | currency}}
              th {{emp.Vacaciones | currency}}
              th {{emp.Aguinaldo | currency}}
              th {{emp.Insaforp | currency}}
              th {{emp.Otras | currency}}
              th {{emp.total | currency}}
            tr
              th( colspan="11") ---   Total   ---
              th {{totalFinal | currency}}
        a.btn.btn-default( ng-click="registrar()") Registrar planilla   
      .tab-pane.fade#registro( role="tabpanel") 
        h4 Registro de empleados:
        hr
        form
          .col-md-6
            h4 Datos Generales
            .row
              .col-md-8
                .form-group
                  label Nombre
                  input.form-control( type="text", ng-model="nombree", placeholder="Ingrese el nombre del empleado")
              .col-md-4
                .form-group
                  label DUI
                  input.form-control( type="text", ng-model="dui", placeholder="Ingrese el dui")
              .col-md-4
                .form-group
                  label Fecha de nacimiento
                  input.form-control( type="date", ng-model="fechan", placeholder="yyyy-mm-dd")
              .col-md-4
                .form-group
                  label Estudios
                  select.form-control( ng-model="estudio" )
                    option( value="basica" ) basica
                    option( value="media" ) media
                    option( value="superior" ) superior
              .col-md-4
                .form-group
                  label estado
                  select.form-control( ng-model="situacion")
                    option( value="soltero" ) soltero
                    option( value="cambiarEstado" ) cambiarEstado
                    option( value="complicado" ) Es complicado
              .col-md-12
                .form-group
                  label direccion
                  input.form-control( type="text", ng-model="direccion", placeholder="Escriba su direccion" )
              .col-md-8  
                .form-group
                  label correo
                  input.form-control( type="email", ng-model="email", placeholder="digite su correo")
              .col-md-4
                .form-group
                  label telefono/celular
                  input.form-control( type="text", ng-model="telefono", placeholder="digite su tel")
          .col-md-6
            h4 Datos Empresariales
            .row
              .col-md-6
                .form-group
                  label codigo
                  input.form-control( type="text", ng-model="codigoe", placeholder="Codigo del empleado")
              .col-md-6
                .form-group
                  label Puesto
                  select.form-control( ng-model= "puestoe" )
                    option( value="Vendedor") Vendedor
                    option( value="Motorista") Motorista
                    option( value="Encargado") Encargado
              .col-md-6
                .form-group
                  label horas por mes
                  input.form-control( type="text", ng-model="horase")
              .col-md-6
                .form-group
                  label Salario
                  input.form-control( type="number", ng-model="salario")
          .col-md-12( style="text-align: center")
              hr
              a.btn.btn-info.btn-lg( ng-click="guardarEmpleado()" ) Registrar empleado
      .tab-pane.fade#modificar( role="tabpanel")
        h4 Modificar empleado
        hr 
        a.btn.btn-lg.btn-danger( ng-click="cargarEmpleado()") cargar empleado
        form
          .col-md-6
            h4 Datos Generales
            .row
              .col-md-8
                .form-group
                  label Nombre
                  input.form-control( type="text", ng-model="nombree", placeholder="Ingrese el nombre del empleado")
              .col-md-4
                .form-group
                  label DUI
                  input.form-control( type="text", ng-model="dui", placeholder="Ingrese el dui")
              .col-md-4
                .form-group
                  label Fecha de nacimiento
                  input.form-control( type="date", ng-model="fechan", placeholder="yyyy-mm-dd")
              .col-md-4
                .form-group
                  label Estudios
                  select.form-control( ng-model="estudio" )
                    option( value="basica" ) basica
                    option( value="media" ) media
                    option( value="superior" ) superior
              .col-md-4
                .form-group
                  label estado
                  select.form-control( ng-model="situacion")
                    option( value="soltero" ) soltero
                    option( value="cambiarEstado" ) cambiarEstado
                    option( value="complicado" ) Es complicado
              .col-md-12
                .form-group
                  label direccion
                  input.form-control( type="text", ng-model="direccion", placeholder="Escriba su direccion" )
              .col-md-8  
                .form-group
                  label correo
                  input.form-control( type="email", ng-model="email", placeholder="digite su correo")
              .col-md-4
                .form-group
                  label telefono/celular
                  input.form-control( type="text", ng-model="telefono", placeholder="digite su tel")
          .col-md-6
            h4 Datos Empresariales
            .row
              .col-md-6
                .form-group
                  label codigo
                  input.form-control( type="text", ng-model="codigoe", placeholder="Codigo del empleado")
              .col-md-6
                .form-group
                  label Puesto
                  select.form-control( ng-model= "puestoe" )
                    option( value="Vendedor") Vendedor
                    option( value="Motorista") Motorista
                    option( value="Encargado") Encargado
              .col-md-6
                .form-group
                  label horas por mes
                  input.form-control( type="text", ng-model="horase")
              .col-md-6
                .form-group
                  label Salario
                  input.form-control( type="number", ng-model="salario")
          .col-md-12( style="text-align: center")
              hr
              a.btn.btn-info.btn-lg( ng-click="updateEmpleado()" ) Modificar empleado
      .tab-pane.fade#ajustesp( role="tabpanel")
        h4 ajustes
        hr
        h4 Ajuste de prestaciones
        .row
          .col-md-8
            h4 Prestaciones
            table.table.table-hover.table-bordered
              thead
                tr
                  th Nombre
                  th Descripcion
                  th Factor
                  th obligatoria
                  th estado
              tbody
                tr( ng-repeat="pre in prestaciones")
                  th( ng-bind="pre.nombre")
                  th( ng-bind="pre.descripcion")
                  th {{pre.factor}} %
                  th( ng-bind="pre.estado")
                  th
                    a.btn.btn-info() Desactivar
          .col-md-4
            h4 Registrar Prestacion
            hr
            .panel-group#accordion( role="tablist" aria-multiselectable="true" )
              .panel.panel-default
                .panel-heading( role="tab" id="headingOne")
                  h4.panel-title
                    a( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ) Añadir Prestacion
                .panel-collapse.collapse#collapseOne( role="tabpanel" aria-labelledby="headingOne" )
                    .panel-body
                      form
                        .form-group
                          label Nombre
                          input.form-control( type="text", ng-model="nombrep")
                        .form-group
                          label Descripcion
                          input.form-control( type="text", ng-model="descripcionp")
                        .form-group
                          label factor
                          input.form-control( type="text", ng-model="factor")
                      .btn-group
                        a.btn.btn-success( ng-click="registrarPrestacion()" ) agregar
                        a.btn.btn-danger( ng-click="limpiar()" ) limpiar
              .panel.panel-default
                .panel-heading( role="tab" id="headingTwo")
                  h4.panel-title
                    a.collapsed( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" ) Modificar prestacion
                .panel-collapse.collapse#collapseTwo( role="tabpanel" aria-labelledby="headingTwo" )
                    .panel-body
                      h4 Modificar en proceso
                      form
                        .form-group
                          label Nombre
                          input.form-control( type="text", ng-model="artNombre")
                          
                        .btn-group
                          a.btn.btn-info( ng-click="modArticulo()" ) Modificar
