extends layout

block content
  h1.titulo.cont-top Área de Usuarios
  
    .row
      .col-md-4
        #contaGeneral
          h2.titulo2  Contabilidad General
          .btn-group-vertical.botones(role="group" aria-label="Vertical button group")
            a.btn.btn-info( href='/libroDiario' ) Ir a Libro diario
            a.btn.btn-info( href='/cuentas/gestionarCuentas' ) Ir a Gestion de cuentas  
                     
      .col-md-4
        #contaCostos
          h2.titulo2 Contabilidad de costos
          .btn-group-vertical.col-md-8.botones(role="group" aria-label="Vertical button group")
            a.btn.btn-info( href='/inventario' ) Ver Inventario
            a.btn.btn-info( href='/planilla' ) Ver Planillas
        
      .col-md-4
        #ajustes
          h2.titulo2  Estados
          .btn-group-vertical.col-md-8.botones(role="group" aria-label="Vertical button group")        
            a.btn.btn-info( href='/reportes/balanceCom' ) Balance de comprobacion
            a.btn.btn-info( href='/reportes/BResultado' ) Estado de Resultados
            a.btn.btn-info( href='/reportes/EsCapital' ) Estado de Capital
            a.btn.btn-info( href='/reportes/BalanceGen' ) Balance General
