doctype html
html( lang="es" ng-app="sic" )
  head
    meta( charset="UTF-8" )
    title El punto del repuesto
    script( src='/javascripts/angular/angular.min.js' )
    script( src='/javascripts/angular/angular-route.min.js' )
    script( src='/javascripts/main.js' )
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    script( src='/javascripts/sweetalert.min.js' )
    script( src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js" )
    script( src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" )
    script( src="/javascripts/angular/angular.js" )

  body
    nav.navbar.navbar-inverse.navbar-fixed-top( style="position: relative;")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.modif(href='/') 
            span#logo 
            span.titulo0 EL PUNTO DEL REPUESTO 
        #navbar.collapse.navbar-collapse                                      
            if !user
              ul.nav.navbar-nav.navbar-right  
                li(class=(title == 'Registrarse' ? 'active' : ''))
                  a(href='/users/register') Registrarse
                li(class=(title == 'Login' ? 'active' : ''))
                  a(href='/users/login') Login
            if user
              ul.nav.navbar-nav.navbar-right
                li
                  a(href="/users/logout") Logout
              ul.nav.navbar-nav
                li(class=(title == 'Home' ? 'active' : ''))
                  a(href='/') Home
                li.dropdown
                  a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Contabilidad General 
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="/libroDiario" ) Libro Diario 
                        li: a( href="/cuentas/gestionarCuentas" ) Gestión de cuentas             
                li.dropdown
                  a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Contabilidad de Costos 
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="/inventario" ) Ver Inventario
                        li: a( href="/planilla" ) Ver Planillas
                li.dropdown
                  a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Reportes 
                        span.caret
                    ul.dropdown-menu( role="menu" )

                        li: a( href="/reportes/balanceCom" ) Balance de comprobación 
                        li: a( href="/reportes/BResultado" ) Estado de Resultados
                        li: a( href="/reportes/EsCapital" ) Estado de Capital  
                        li: a(href="/reportes/BalanceGen")  Balance General   

        // /.nav-collapse
    .container
      != messages()
      block content 

  script( src="/javascripts/jquery/jquery.min.js" )
  script( src="/javascripts/bootstrap.js")
