extends layout

block content
  .container.cont-top
  .row
    .col-md-12
      h1.titulo BIENVENIDO
    .col-md-5        
      .carousel.slide#carousel-eje( data-ride="carousel")
          ol.carousel-indicators
            li(data-target="#carousel-eje" data-slide-to="0" class="active")
            li(data-target="#carousel-eje" data-slide-to="1")
            li(data-target="#carousel-eje" data-slide-to="2")
          div.carousel-inner( role="listbox") 
            div.active.item
              #loginIma
              div.caruosel-caption
            div.item
              #loginIma1
              div.caruosel-caption
            div.item
              #loginIma2
              div.caruosel-caption
                    
    .col-md-7
      h1.titulo01 Ingrese los datos siguientes
      form(method='post',action='/users/login',enctype='multipart/form-data')
        .form-group.ti
          label.enc-tablas Usuario
          input.form-control(name='username', type='text', placeholder='Ingrese el usuario' requiered)
        .form-group.ti
          label.enc-tablas Contraseña
          input.form-control(name='password', type='password' required)
        button.btn.btn-success.col-md-offset-5(name='submit',type='submit') Login
