extends layout

block content
  .container.cont-top
  h1.titulo Registrarse
  p Registrese llenando los siguentes campos
  ul.errors
    .jumbotron
      if errors
        each error, i in errors
          li.alert.alert-danger #{error.msg}
  form(method='post',action='/users/register',enctype='multipart/form-data')
    .form-group
      label.enc-tablas Nombre
      input.form-control(name='name', type='text', placeholder='Ingrese el nombre')
    .form-group
      label.enc-tablas Email
      input.form-control(name='email', type='text', placeholder='Ingrese el correo')
    .form-group
      label.enc-tablas Usuario
      input.form-control(name='username', type='text', placeholder='Ingrese el usuario')
    .form-group
      label.enc-tablas Contraseña
      input.form-control(name='password', type='password', placeholder='Ingrese la contraseña')
    .form-group
      label.enc-tablas Confirmar contraseña
      input.form-control(name='password2', type='password', placeholder='Confirme la contraseña')
    .form-group
      label.enc-tablas Imagen de perfil
      input.form-control(name='image', type='file')
    input.btn.btn-success(name='submit',type='submit',value='Register')
