/*Estilos generales*/

.botones{
  margin:11%!important;
}

.back-btn{
    background-color:#d6f5ff!important;
}
.titulo,.titulo2,.enc-tablas{
  font-family:large Palatino bold italic;
  text-align: center!important;
  color: #4a4a4a;

}
.titulo{
  font-size: 35px;
}
.titulo22{
  text-align: left;
  color: #4a4a4a;
  font-size: 30px;
}
.titulo11{
  text-align: left;
  color:rgb(174, 175, 180);
  font-size: 25px;
}
.titulo01{
  text-align: center;
  color:rgb(113, 111, 107);
  font-size: 25px;
}
.ti{
  text-align: center;
}
.enc-tablas{
    font-size: 15px;
}
.margin-btn{
  margin: 2% 0;
}
input.ng-invalid.ng-touched {
   background-color: #ff85b1;
 }

.cont-top{
  margin-top: 2%;
}
#contaGeneral,#contaCostos,#ajustes{
  margin-top: 15%;
}
#contaGeneral{
background-image: url('http://img.formacionyestudios.com/wp-content/uploads/2012/03/curso-de-contabilidad-practica.jpg');
  background-position: center center;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
}
#contaCostos{
background-image: url('http://texasnoteco.com/wp-content/uploads/2015/03/MoneyBags.jpg');
  background-position: center center;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
}

div.contaGeneral h2 {
  text-align: center;
  opacity: 1;
}
#ajustes{
  background-image: url('http://imagenpng.com/wp-content/uploads/2015/06/Imagenes-Contables-Contador-png-2.png');
  background-position: center center;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
}
#logo{
  background-image: url('/img/logo.png');
  background-size: cover;
  height: 49px;
  width: 123px;
  float: left;
  border-radius: 2px;
  margin-top: auto;
}
.navbar-brand{
  padding-top: 0px;
}
.titulo0{
  text-align: center;
  color: #e9e9e9;
  font-size:20px;
  padding-top: 15px;
  top:10px;

}
.modif{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#loginIma{
  background-image: url('/img/punto.png');
  background-size: cover;
  height: 320px;
  width: 340px;
  margin-top: auto;
  float: left;
}
#loginIma1{
  background-image: url('/img/punto1.jpg');
  background-size: cover;
  height: 320px;
  width: 340px;
  margin-top: auto;
  float: left;
}
#loginIma2{
  background-image: url('/img/punto2.jpg');
  background-size: cover;
  height: 320px;
  width: 340px;
  margin-top: auto;
  float: left;
}
div.dataTables_wrapper {
        margin-bottom: 3em;
    }
div.container {
            width: 80%;
        }
