extends ../layout

block content
  h1.titulo Catalogo de cuentas
  .row
    .col-md-10
      h1.titulo2( style='text-align:center') lista de cuentas en el sistema
    .col-md-2
      h4( style='text-align:center') Filtros
