extends ../layout

block content
  h4.titulo2 Agregar nueva cuenta
  form(method='post' ,enctype='multipart/form-data')
    .form-group
      label( for="name" ) Nombre
      input.form-control(name='name', type='text', placeholder='Ingrese el nombre' required)
    .form-group
      label( for="codigo" ) código
      input.form-control(name='codigo', type='text', placeholder='Ingrese el codigo de la cuenta' required)
    .form-group
      label( for="descripcion" ) descripción
      textarea.form-control(name='descripcion', rows='3', type='text', placeholder='descripcion' )
    input.btn.btn-default#boton(name='submit',type='submit',value='AgregarCuenta')
    
