extends ../layout

block content
  .div( ng-controller="Cuentas", ng-init="cargarCuentas()" )
    a.btn.btn-info(href="/") Regresar
    h1.titulo22 GESTIÓN DE CUENTAS DEL SISTEMA
    .row
      .col-md-12
        .col-md-9
          h2.titulo11 Lista de cuentas
        .col-md-3
          a.btn.btn-primary.titulo2( href="#modal-cuenta", data-toggle='modal' ) Agregar Nueva Cuenta
        table.table.table-hover.table-bordered.table-striped.table-responsive.enc-tablas
          thead
            tr
              th Cuenta
              th Código
              th Descripción
              th Tipo
              th Cuenta Superior
              th Estado
              th Editar
          tbody
            tr( ng-repeat="item in cuentas | orderBy: ['codigo']" )
              td {{item.nombre}}
              td {{item.codigo}}
              td {{item.descripcion}}
              td {{item.tipoCuenta}}
              td {{item.cuentaPadre.padre_nombre}}
              td
                a.btn.btn-success( ng-click="cambiarEstado(item._id)", ng-if="item.estado == false" ) Activar
                a.btn.btn-danger( ng-click="cambiarEstado(item._id)", ng-if="item.estado == true" ) Desactivar
              td
                a.btn.btn-info( data-toggle="modal", href="#modal-modcuenta", ng-click="recuperarCuenta(item._id)" ) Editar
        .modal.fade#modal-cuenta
          .modal-dialog
            .modal-content
              .modal-header
                .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
                h4.modal-title.titulo Registro de Cuentas
                .modal-body
                  form( action="" )
                    .form-group
                      label.enc-tablas Nombre
                      input.form-control(name='nombre', ng-model='nombre', type='text', placeholder='Ingrese el nombre' required )
                    .form-group
                      label.enc-tablas(for="padreSelect") Cuenta Padre
                      select#padreSelect.form-control( name="selectPadre", ng-model="padre" required )
                       option( value="---"  selected ) -no aplica-
                       option( ng-repeat="it in cuentas" value="{{it.nombre}}") {{it.codigo}}, {{it.nombre}}
                      
                    .form-group
                      label.enc-tablas Código
                      input.form-control(name='codigo', ng-model='codigo', type='text', placeholder='Ingrese la código de la cuenta' required )
                    .form-group
                       label.enc-tablas(for="tipoSelect") Tipo
                       select#tipoSelect.form-control( name="selectTipo", ng-model="tipo" required )
                        option( ng-repeat="option in tipos" value="{{option.nombre}}") {{option.nombre}}
                       
                    .form-group
                      label.enc-tablas Descripción
                      textarea.form-control(name='descripcion', ng-model='descripcion', rows='3', type='text', placeholder='descripcion' required )
                    input.btn.btn-primary( value='Guardar Cuenta', ng-click="guardarCuenta()")
        .modal.fade#modal-modcuenta
          .modal-dialog
            .modal-content
              .modal-header
                .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
                h4.modal-title.titulo Modificar cuenta
                .modal-body
                  form( action="" )
                    .form-group
                      label.enc-tablas Nombre
                      input.form-control(name='nombre', ng-model='nombre', type='text', placeholder='Ingrese el nombre' required )
                    .form-group
                      label.enc-tablas(for="padreSelect") Cuenta Padre
                      select#padreSelect.form-control( name="selectPadre", ng-model="padre"  required )
                       option( value="---"  selected ) -no aplica-
                       option( ng-repeat="it in cuentas" value="{{it.nombre}}") {{it.codigo}}, {{it.nombre}}
                      
                    .form-group
                      label.enc-tablas Código
                      input.form-control(name='codigo', ng-model='codigo', type='text', placeholder='Ingrese la código de la cuenta' required disabled)
                    .form-group
                       label.enc-tablas(for="tipoSelect") Tipo
                       select#tipoSelect.form-control( name="selectTipo", ng-model="tipo" required )
                        option( ng-repeat="option in tipos" value="{{option.nombre}}") {{option.nombre}}
                       
                    .form-group
                      label.enc-tablas Descripción
                      textarea.form-control(name='descripcion', ng-model='descripcion', rows='3', type='text', placeholder='descripcion' required )
                    input.btn.btn-primary( value='Guardar Cuenta', ng-click="modificar()")
