extends ../layout

block content
  .div( ng-controller="Transacciones", ng-init="cargarTransacciones()" )
    .row 
      .col-md-3
        a.btn.btn-primary(href="/") Regresar
        a.btn.btn-success( data-toggle="modal", href="#modal-periodo", ng-click="crearPeriodo()", ng-if="periodo.inicio == null" ) Agregar Periodo
      .col-md-9
        h2.alert.alert-danger(ng-if="!periodo.inicio") Es necesario especificar un periodo
    h4(ng-if="periodo.inicio") Periodo: {{periodo.inicio | date : 'yyyy-MM-dd'}} - {{periodo.final | date : 'yyyy-MM-dd'}}
    .row
      .col-md-7
        h4.titulo2 Libro Diario
        table.table.table-hover.table-bordered.table-striped.enc-tablas
          thead
            th Fecha
            th Detalle
            th Cuenta
            th Debe
            th Haber
          tbody( ng-repeat="tra in transacciones")
              tr( ng-repeat="val in tra.cuentasAfectadas") 
                td( ng-bind="tra.fecha_creacion | date : 'yyyy-MM-dd'" )
                td( ng-bind="tra.detalle" )
                td( ng-bind="val.nombre " )
                td( ng-bind="val.Debe" )
                td( ng-bind="val.Haber") 
        a.btn.btn-primary( href="reportes/ajustes") Ir a ajuste      
      .col-md-5
          h4.titulo2 Registrar Transacción
          a.btn.btn-danger( ng-click="limpiar()" ) Limpiar
          form( action="" )
            .form-group
              label.enc-tablas( for="detalle" ) Detalle
              input.form-control( name='detalle', ng-model='detalle', type='text', placeholder='Ingrese el detalle' required)
            .form-group
              label.enc-tablas( for="fecha" ) Fecha de Ejecución, Fecha Mínima {{periodo.inicio | date : 'yyyy-MM-dd' }}, Fecha Maxima {{periodo.final | date : 'yyyy-MM-dd' }}
              input.form-control( name='fecha', ng-model='fechaReg', datepicker-popup="yyyy-MM-dd", type='text' , min= "periodo.inicio", max="periodo.final", placeholder="yyyy-MM-dd" required)
            a.btn.btn-success( data-toggle="modal", href="#modal-cuenta", ng-click="obtenerCuentas()"  ) Agregar cuenta
            hr
            table.table.table-hover.table-bordered.table-striped.enc-tablas.table-responsive
              thead
                tr
                  th Cuenta
                  th Debe
                  th Haber
                  th Modificar
                  th Eliminar
              tbody
                tr( ng-repeat="sel in seleccion" )
                  td( ng-bind="sel.nombre")
                  td( ng-bind="sel.desc_cuenta.saldoDebe ")
                  td( ng-bind="sel.desc_cuenta.saldoHaber" )
                  td
                    a.btn.btn-default( data-toggle="modal", href="#modal-modificar", ng-click="cuentaTran(sel)" ) Modificar
                  td 
                    a.btn.btn-danger( ng-click="remover(sel)" ) Eliminar
                tr
                  td 
                    h4 Total
                  td( ng-bind="total.totalD")
                  td( ng-bind="total.totalH")
                  td(style="background:#d7d7d7;border-color:#3a3a3a!important")
                  td(style="background:#d7d7d7;border-color:#1e1e1e!important")
          hr
          .row
            .btn-group.col-md-6
              button.btn.btn-primary.dropdown-toggle( data-toggle="dropdown", aria-haspopup="true", aria-expanded="false" ) Agregar IVA 
                span.caret
              ul.dropdown-menu
                li
                  a( data-toggle="modal", href="#modal-iva", ng-click="cargarIVA(1)" ) Compra
                li
                  a( data-toggle="modal", href="#modal-iva", ng-click="cargarIVA(2)" ) Venta
                li.divider( role="separator" )
                li
                  a( ng-click="cargarIVA(3)" ) Exento
            .col-md-6
              label Tipo de IVA Actual: 
              h4( ng-bind="tipoIVA" )
          a.btn.btn-success( data-toggle="modal", href="#modal-verificar", ng-click="guardarTransaccion()", ng-if="seleccion.length > 1 && total.totalD == total.totalH && total.totalH != 0") Registrar
          hr
          span El boton registrar se activara cuando se cumpla:
          ul
            li 
              span Mas de 2 cuentas seleccionadas
            li 
              span El total sea diferente a 0
            li 
              span Las cuentas sin montos no se tomaran en cuenta
      .modal.fade#modal-verificar
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h3.modal-title Verificar Transacción
              .modal-body
                .row
                  .col-md-7
                    h4 Detalle de transacción:
                  .col-md-5
                    h4 {{detalle}}
                  .col-md-7
                    h4 Fecha de ejecución
                  .col-md-5
                    h4 {{fechaReg | date : 'yyyy-MM-dd' }}
                  .col-md-12
                    h4 Cuentas Utilizadas:
                    table.table.table-hover.table-bordered.table-striped.table-striped.enc-tablas
                      thead
                        tr
                          th Cuenta
                          th Debe
                          th Haber
                      tbody
                        tr( ng-repeat="sel in seleccion" ng-if="sel.desc_cuenta.saldoDebe || sel.desc_cuenta.saldoHaber")
                          td {{sel.nombre}}
                          td {{sel.desc_cuenta.saldoDebe}}
                          td {{sel.desc_cuenta.saldoHaber}}
                        tr
                          td 
                            h4 Total
                          td {{total.totalD}}
                          td {{total.totalH}}
                  .col-md-12
                    a.btn.btn-success( ng-click="resgistrarTransaccion()") Registro de Transacción            
      .modal.fade#modal-cuenta
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title.titulo2 Selección de Cuenta
              .modal-body
                form 
                  .form-group
                    label filtro por tipo de cuenta
                    select.form-control( ng-model="filtro" )
                      option( value="activo") activo
                      option( value="pasivo") pasivo
                      option( value="patrimonio") patrimonio
                      option( value="resultado") resultado
                table.table.table-hover.table-bordered.table-striped.enc-tablas.table-responsive
                  thead
                    tr
                      th Cuenta
                      th Código
                      th Descripcion
                      th Tipo
                      th Selección
                  tbody
                    tr( ng-repeat="item in cuentas | orderBy: ['codigo']", ng-if="item.tipoCuenta == filtro")
                      td {{item.nombre}}
                      td {{item.codigo}}
                      td {{item.descripcion}}
                      td {{item.tipoCuenta}}                          
                      td
                        a.btn.btn-info( ng-click="anadir(item._id)" ) agregar              
      .modal.fade#modal-modificar
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title Registrar Transacción,  Cuenta : {{cuentaTrans.nombre}}
              .row
                .col-md-6
                    label Debe
                    .input-group
                      span( class="input-group-addon") $
                      input.form-control( type="number", aria-label="Amount (to the nearest dollar)", ng-model="Debe", min="0", ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
                .col-md-6
                  form()
                    label Haber
                    .input-group
                      span( class="input-group-addon") $
                      input.form-control( type="number", aria-label="Amount (to the nearest dollar)" ng-model="Haber", min="0", ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
                .row
                .col-md-12
                  hr
                  button.btn.btn-success( ng-click="registrarMonto()") Registrar
      .modal.fade#modal-periodo
        .modal-dialog
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h4.modal-title Añadir Período
              .row
                .col-md-6
                    label Fecha Inicial
                    input.form-control( type="date", ng-model="inicio"  )
                .col-md-6
                    label Fecha Inicial
                    input.form-control( type="date", ng-model="final"  )
              .row
                  .col-md-12
                    hr
                    button.btn.btn-success( ng-click="iniciarPeriodo()") Iniciar Período
      .modal.fade#modal-iva
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h3.modal-title Añadir Cuenta de IVA
              .modal-body
                .row
                  .col-md-12
                    h4 Cuentas Disponibles:
                    table.table.table-hover.table-bordered.table-striped.table-striped.enc-tablas
                      thead
                        tr
                          th Cuenta
                          th Descripción
                          th Código
                          th Acción
                      tbody
                        tr( ng-repeat="iv in iva")
                          td {{iv.nombre}}
                          td {{iv.descripcion}}
                          td {{iv.codigo}}
                          td 
                            a.btn.btn-success( data-toggle="modal", href="#modal-iva-cargar", ng-click="agregarCuentaIVA(iv, 1)",  aria-label="Close") Elegir
      .modal.fade#modal-iva-cargar
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              .buttonasd( type="button", class="close", data-dismiss="modal", aria-hidden="true") &times
              h3.modal-title Cargar IVA
              .modal-body
                .row
                  .col-md-12
                    h4 Cuentas Disponibles:
                    form 
                      .form-group
                        label filtro por tipo de cuenta
                        select.form-control( ng-model="filtro" )
                          option( value="activo") activo
                          option( value="pasivo") pasivo
                          option( value="patrimonio") patrimonio
                          option( value="resultado") resultado
                    table.table.table-hover.table-bordered.table-striped.table-striped.enc-tablas
                      thead
                        tr
                          th Cuenta
                          th Descripción
                          th Código
                          th Acción
                      tbody
                        tr( ng-repeat="iv in cuentas", ng-if="iv.tipoCuenta == filtro")
                          td {{iv.nombre}}
                          td {{iv.descripcion}}
                          td {{iv.codigo}}
                          td 
                            a.btn.btn-success( ng-click="agregarCuentaIVA(iv, 2)",  aria-label="Close") Elegir
