extends ../layout
block content
  .div#imprimir( ng-controller="balanceComprobacion", ng-init="cargar()" )
  
    .row
      .col-md-12
        h1.titulo El punto del Repuesto 
        h2.titulo2 Balance de Comprobación 
        h2.enc-tablas del {{periodo.fecha_inicio | date : 'MM-dd'}} al {{periodo.fecha_fin | date : 'MM-dd'}} de (año) {{periodo.fecha_fin | date : 'yyyy'}} 
        table.table.table-hover.table-bordered.table-striped.enc-tablas
          thead
            tr
              th( colspan ="2") Cuenta
              th( colspan ="2") Saldos Finales
            tr
              th codigo
              th cuenta
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasBalance | orderBy: ['codigo']")
                td( ng-bind="tra.codigo" )
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.final.Debe | currency" )
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="2" ) ----  TOTAL ----
                td( ng-bind="Total.final.Debe | currency" )
                td( ng-bind="Total.final.Haber | currency" )
        a.btn.btn-info( ng-click ="cerrarPeriodos()") Ver Reporte
        a.btn.btn-success( ng-click ="print()") Imprimir PDF
