extends ../layout
block content
  .container( ng-controller="general", ng-init="cargar()" )
    h1.titulo El punto del Repuesto
    .row
      .col-md-12
        h4.titulo2 Balance General
        h4.enc-tablas del {{periodo.fecha_inicio | date : 'MM-dd'}} al {{periodo.fecha_fin | date : 'MM-dd'}} de (año) {{periodo.fecha_fin | date : 'yyyy'}} 
        table.table.table-hover.table-bordered.table-striped.enc-tablas
          thead
            tr
              th( colspan ="3") Activo
            tr
              th cuenta
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasBalance | orderBy: ['codigo']" ng-if="tra.tipo == 'activo'")
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.final.Debe | currency")
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="1" ) ----  SubTotal ----
                td( ng-bind="TotalFinal.activos.Debe | currency" )
                td( ng-bind="TotalFinal.activos.Haber | currency" )
              tr
                td( colspan="1" ) ----  Total ----
                td( ng-bind="Total.activos.Debe | currency" )
                td( ng-bind="Total.activos.Haber | currency" )
        table.table.table-hover.table-bordered.table-striped.enc-tablas  
          thead
            tr
              th( colspan ="3") pasivo
            tr
              th cuenta
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasBalance | orderBy: ['codigo']" ng-if="tra.tipo == 'pasivo'")
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.final.Debe | currency")
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="1" ) ----  SubTotal ----
                td( ng-bind="TotalFinal.pasivos.Debe | currency" )
                td( ng-bind="TotalFinal.pasivos.Haber | currency" )
              tr
                td( colspan="1" ) ----  Total ----
                td( ng-bind="Total.pasivos.Debe | currency" )
                td( ng-bind="Total.pasivos.Haber | currency" )
                
        table.table.table-hover.table-bordered.table-striped.enc-tablas  
          thead
            tr
              th( colspan ="3") capital
            tr
              th cuenta
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasBalance | orderBy: ['codigo']" ng-if="tra.tipo == 'patrimonio'")
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.final.Debe | currency")
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="1" ) ----  SubTotal ----
                td( ng-bind="TotalFinal.patrimonio.Debe | currency" )
                td( ng-bind="TotalFinal.patrimonio.Haber | currency" )
              tr
                td( colspan="1" ) ----  Total ----
                td( ng-bind="Total.patrimonio.Debe | currency" )
                td( ng-bind="Total.patrimonio.Haber | currency" )
        a.btn.btn-info( ng-click ="cerrarPeriodos()") Ver reporte
        a.btn.btn-success( ng-click ="print()") Imprimir PDF
