extends ../layout
block content
  .div( ng-controller="resultado", ng-init="cargar()" )
    .row
      .col-md-12
        h1.titulo El punto del Repuesto 
        h2.titulo2 Estado de Resultados 
        h2.enc-tablas del {{periodo.fecha_inicio | date : 'MM-dd'}} al {{periodo.fecha_fin | date : 'MM-dd'}} de (año) {{periodo.fecha_fin | date : 'yyyy'}} 
        table.table.table-hover.table-bordered.table-striped.enc-tablas
          thead
            tr
              th( colspan ="4") Ingresos
            tr
              th codigo
              th cuenta
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasResultado" ng-if="tra.tipo== 'ingreso' ")
                td( ng-bind="tra.codigo" )
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.final.Debe | currency" )
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="2" ) ----  TOTAL ----
                td( ng-bind="Total.ingresos.Debe | currency" )
                td( ng-bind="Total.ingresos.Haber | currency" )
        table.table.table-hover.table-bordered.table-striped.enc-tablas
          thead
            tr
              th( colspan ="4") Gastos
            tr
              th codigo
              th cuenta
              th Debe
              th Haber
          tbody
              tr( ng-repeat="tra in cuentasResultado" ng-if="tra.tipo== 'gasto' ")
                td( ng-bind="tra.codigo" )
                td( ng-bind="tra.nombre" )
                td( ng-bind="tra.final.Debe | currency" )
                td( ng-bind="tra.final.Haber | currency")
              tr
                td( colspan="2" ) ----  TOTAL ----
                td( ng-bind="Total.gastos.Debe | currency" )
                td( ng-bind="Total.gastos.Haber | currency" )
        a.btn.btn-info( ng-click ="cerrarPeriodos()") Ver reporte
        a.btn.btn-success( ng-click ="print()") Imprimir PDF
